<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li> <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" /></li>
    }
     <!-- <li *ngFor="let user of users"> 
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li> 
    *ngFor - it calls structural directives, such staff used to use until 17v of angular
    to use it, we have to add NgFor to ts file of component, to unlock *ngFor
    -->
  </ul>
  
  <!--  
  instead of using @if we can use *ngIf="here should be your condition"
  instead of @else, we have to use special element 
  <ng-template>here would be else block code</ng-template>

  <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" />
  <ng-template #fallback >
     <p id="fallback">Select a user to see their tasks!</p>
  </ng-template>

  *ngIf must be unlock in ts file of component before you can use it
  -->
  @if (selectedUser) {
      <app-tasks [userId]="selectedUser.id " [name]="selectedUser.name"></app-tasks>
  } @else {
    <p id="fallback">Select a user to see their tasks!</p>
  }
</main>
<router-outlet />